*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

*::before,
*::after{
    padding:0;
    margin:0;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    backdrop-filter: blur(4px);
    width:100%;
    height:100vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}


.wrapper{
    width:600px;
    padding:25px 30px;
    overflow:hidden;
    position: relative;
    border-radius: 15px;
    background:rgb(223, 223, 223);
    box-shadow:5px 2px 25px rgba(0,0,0,0.99);

}

.wrapper i{
    cursor:pointer;
}

.top-bar,
.progress-area .song-timer,
.controls,
.music-list .header,
.music-list ul li{
    display:flex;
    align-items:center;
    justify-content: space-between;
}


.top-bar i{
    font-size:30px;
    color:#515c6f
}

.top-bar i:first-child{
    margin-left: -7px;
}

.top-bar span{
    font-size: 18px;
    color:#515c6f
}


.img-area{
    width:100%;
    height:42vh;
    overflow:hidden;
    margin-top:15px;
    border-radius:12px;
    box-sizing:0px 6px 12px rgba(0,0,0,0.15);
}

.img-area img{
    width:100%;
    height:100%;
    object-fit: cover;
}


.song-details{
    text-align: center;

    margin:2vh 0 2vh 0;
}

.song-details p{
    color: #515c6f;
}

.song-details .name{
    font-size:21px
}

.song-details .artist{
    font-size:13px;
    opacity: 0.9;
    line-height:4vh;
}

.progress-area{
    height: 5px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor:pointer;
}

.progress-area .progress-bar{
    height: inherit;
    width:0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, #4e7ff1 0%, #8a5a8f 100%);
}

.progress-bar::before{
    content:"";
    position:absolute;
    height: 12px;
    width:12px;
    border-radius: 50%;
    top:50%;
    right:-5px;
    z-index:2;
    opacity: 0;
    pointer-events:none;
    transform: translateY(-50%);
    background: inherit;
    transition:opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: none;
}

.progress-area,song-timer{
    margin-left:2px;
}
.song-timer span{
    font-size:12px;
    color:#515c6f;
}



.controls{
    margin: 5vh 10vh 2vh 10vh;
}

.controls i{
    font-size:30px;
    user-select: none;


    background:linear-gradient(#7C4DFF 0%, #212121 100%);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.control i:nth-child(4){
    font-size:30px;
}
.controls #prev{
    margin-right: -13px;
 
}
.controls #next{
    margin-left:-13px;
 
}

.controls .play-pause{
    height:54px;
    width:54px;
    display:flex;
    cursor:pointer;
    align-items:center;
    justify-content: center;
    border-radius:50%;
    background:linear-gradient(#7964b3 0%,#212121 100%);
}

.play-pause::before{
    position:absolute;
    content:"";
    height:43px;
    width:43px;
    border-radius:inherit;
    background:linear-gradient(#ffffff 0%,#6a5e7d 100%);
}

.play-pause i{
    height:43px;
    width:43px;
    line-height:43px;
    text-align:center;
    background:inherit;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    position:absolute;


}

.slider_container i{
    font-size:23px;
    user-select: none; 

    background:linear-gradient(#4e7ff1 0%, #8a5a8f 100%);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

input[type="range"] {
    width:90%;
  }



.music-list{
    position:absolute;
    background:rgb(255, 255, 255);
    width:100%;
    left:0; bottom:-55%;
    opacity: 0;
    pointer-events:none;
    z-index:5;
    padding:15px 30px;
    border-start-end-radius: 15px;
    box-sizing:0px -5px 10px rgba(0,0,0,0.1);
    transition: all 0.15s ease-in-out;
}

.music-list.show
{
    bottom:0;
    opacity:1;
    pointer-events:auto
}

.header .row{
    display:flex;
    align-items:center;
    font-size:19px;
    color:#515c6f;
}

.header .row i{
    cursor:default;
}
.header .row span{
    margin-left:5px;
}
.header #close{
    font-size: 22px;
    color:#515c6f;
}
.music-list ul{
    margin:10px 0;
    max-height:260px;
    overflow:auto;
}

.music-list ul::-webkit-scrollbar-thumb{
    width: 0px;
}

.music-list ul li{
    list-style: none;
    display:flex;
    cursor:pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color:#515c6f;
    border-bottom:1px solid #e5e5e5;
}

.music-list ul li:last-child{
    border-bottom:0px;
}

.music-list ul li .row span{
    font-size:17px;
}

.music-list ul li .row p{
    opacity: 0.9;
}


ul li .audio-duration{
    margin-right:30px;
    font-size:16px;
}
ul li.playing{
    pointer-events:none;
    color:#8a5a8f;
}

#more_menu:hover{

    background:linear-gradient(#4e7ff1 0%, #8a5a8f 100%);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}